@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply bg-white-pure;
  position: relative;
  height: 100svh;
  letter-spacing: -0.2px;
  color: #474645;
  overscroll-behavior-y: none;
}

#__next {
  /* height: calc(100vh - 56px); */
}

.banner-token {
  @apply inline-flex items-baseline gap-x-1;
}
.banner-token > img {
  margin: auto;
}
.ethereum-color {
  color: #8a93b2;
}
.bitcoin-color {
  color: #f7931a;
}
.solana-color {
  color: #9945ff;
}
.usdt-color {
  color: #54ac94;
}
.discord-color {
  color: #5865f2;
}
.telegram-color {
  color: #229ed9;
}
.email-color {
  color: #c71610;
}
.fb-color {
  color: #017aff;
}

.title-tracking {
  letter-spacing: -2px;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

/* Gradient block */

.text-mochi-gradient {
  @apply text-transparent uppercase bg-clip-text bg-gradient-to-r from-mochi-300 via-mochi-600 to-mochi-300;
}

iframe[id^='telegram-login'] {
  display: none;
}

.jagged-bottom {
  --mask: conic-gradient(
      from -45deg at bottom,
      #0000,
      #000 1deg 89deg,
      #0000 90deg
    )
    50%/20px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.receipt-dashed-box {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23B0B0B0FF' stroke-width='2' stroke-dasharray='1%2c5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.receipt-container {
  @apply flex flex-col m-auto w-[320px] max-w-[320px];
}

.receipt-container.peeking {
  @apply flex flex-col m-auto w-[640px] max-w-[640px];
}

#profile-list-sidebar {
  height: calc(100vh - 66px);
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

div[data-radix-popper-content-wrapper]:has(.tooltip) {
  z-index: 60 !important;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}

ul.list-dashed {
  @apply list-none whitespace-normal pb-8 pl-8;
}

ul.list-dashed > li {
  @apply block relative text-base -tracking-[0.2px] text-text-primary;
}

ul.list-dashed > li:not(:last-child) {
  @apply pb-4;
}

ul.list-dashed > li:before {
  @apply content-[''] h-[1px] w-4 bg-neutral-solid absolute top-3 right-full mr-4;
}

.react-markdown-block p + h4,
.react-markdown-block p + h5,
.react-markdown-block p + h6,
.react-markdown-block ul + h4,
.react-markdown-block ul + h5,
.react-markdown-block ul + h6 {
  @apply pt-4;
}
