# These owners will be the default owners for everything in
# the repo.
*               @tuanddd @zlatanpham @chinhld12 @trankhacvy @tienan92it @vdhieu

/apps/*         @leduyhien152 @nguyend-nam @tonible14012002
/packages/*     @leduyhien152 @nguyend-nam @tonible14012002
