.next/*
*.json
*.md
*.css
*.d.ts
node_modules
.turbo
.changeset
dist
public/*
tests/*
scripts/*
*.config.js
.DS_Store
node_modules
coverage
.next
build
plopfile.js
!.commitlintrc.cjs
jest.config.js
!tsup.config.ts
