/build/
/dist/
coverage/
__snapshots__/
node_modules/
storybook-static/
package-lock.json
pnpm-lock.yaml
yarn.lock
package.json

# changeset
CHANGELOG.md
.changeset/
# next.js
/.next/
/out/
# turborepo
/.turbo/
